.Banner {
    width: 100%;
    height: 350px;

    padding-top: 120px;

    background-color: #3e3e3e;

    .container {
        .header {
            width: 50%;
            margin: auto;
            .text {
                font-size: 35px;
                text-align: center;

                color: #ffffff;
            }
        }

        .subheader {
            width: 50%;
            margin: auto;
            
            .text {
                font-size: 18px;
                text-align: center;

                color: #ffffff;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .Banner {
        .container {
            .header {
                .text {
                    font-size: 30px;
                }
            }

            .subheader {
                .text {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .Banner {
        height: 250px;
        padding-top: 80px;
        .container {
            .header {
                .text {
                    font-size: 25px;
                }
            }

            .subheader {
                .text {
                    font-size: 10px;
                }
            }
        }
    }
}